[Desktop Entry]
Type=Application
Name=secure-terminal
GenericName=Terminal
Comment=A terminal where paste is safe by design
Exec=secure-terminal
Icon=secure-terminal
Terminal=false
Categories=System;TerminalEmulator;
Keywords=terminal;shell;ascii;safe;paste;
StartupWMClass=secure-terminal
StartupNotify=true
